.v-data-table{
    tbody:before{
        display: none;
    }
    td{
        padding-top: 20px !important;
        padding-bottom: 14px !important;
        font-weight: 600;
        font-size:14px !important;
       
    }
    td{
        font-size:14px !important;
        font-weight: 600;
    }
}