.v-text-field--outlined {
    fieldset {
      border-color: #CAD6E1;
    }
    }

.linkpointer{
  cursor: pointer;
  color: #1F60A8;
}
.customfooter {
  ::v-deep input {
    font-size: 12px;
  }
  ::v-deep .v-select__selections{
    font-size: 12px;
    
  }
  ::v-deep p{
    user-select: none;
    font-size: 12px;
  }
}
.fz-8 {
  font-size: 8px;
}
.fz-10 {
  font-size: 10px;
}
.fz-12{
  font-size: 12px;
}
.fz-14{
  font-size: 14px;
}
.fz-16{
  font-size: 16px;
}
.fz-18{
  font-size: 18px;
}
.fz-21{
  font-size: 21px;
}
.fz-20{
  font-size: 20px;
}

.animate {
  animation : shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
   background-size: 1000px 100%;
}

@keyframes shimmer {
 0% {
   background-position: -1000px 0;
 }
 100% {
   background-position: 1000px 0;
 }
}

.hidden {
  visibility: hidden;
}

.v-list-item--disabled{
.v-list-item__title{
  opacity: 0.5;
}

}