$body-font-family: 'Fira Sans';
$heading-font-family: $body-font-family;
$font-size-root: 14px;
$input-font-size: 14px;
$card-text-font-size: 14px;
$data-table-regular-header-font-size: $font-size-root;